body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(/pw_6.11/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-text {
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    color: lemonchiffon;
}

.news:nth-child(2n+1) {
    background-color: lightgray;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 20px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.text-new::before {
    content: "NEW";
    color: red;
    padding: 0 20px 0 0;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: lightslategray;
    padding: 0 45px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: lightsteelblue;
    font-family: 'Courier New', Courier, monospace;
}

